/* Account wrapper for the entire page */
.account-wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 300px; /* Adjust to your desired wrapper width */
  margin: 0 auto; /* Center the wrapper */
  display: flex;
  flex-direction: column;
}

/* Container for the account page */
.account-page {
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents horizontally */
}

/* Hamburger menu styling */
.hamburger-menu {
  position: relative;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.menu-content {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.menu-content a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

/* Header inside the wrapper */
.header {
  display: flex;
  background-color: #cccccc;
  align-items: center;
  width: 310px; /* Full width of the wrapper */
  padding: 10px 0; /* Add padding for spacing */
  margin-bottom: 20px; /* Space below the header */
  border-bottom: 1px solid #ddd; /* Optional, adds a bottom border */
}

.hamburger-menu {
  left: 10px; /* Adjust horizontal position */
}

.username {
  font-size: 22px; /* Adjust font size for better visibility */
  font-weight: bold;
  text-align: center; /* Center align username */
  flex-grow: 1; /* Allow it to take up remaining space */
  margin-right: 70px;
}
.shopping-cart a {
  text-decoration: none;
  color: black;
  font-size: 24px; /* Adjust font size for better visibility */
}

/* User information styling */
.user-info {
  padding: 20px; /* Increased padding for more spacing */
  background-color: #f9f9f9; /* Light background for better readability */
  border-radius: 5px; /* Slight rounding of corners */
  border: 1px solid #ddd; /* Light border */
  width: 100%; /* Ensure full width */
  max-width: 300px; /* Restrict maximum width */
}

.user-info p {
  margin: 5px 0; /* Space between paragraphs */
  font-size: 16px; /* Decrease font size */
}

/* Navigation buttons */
.bottom-nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.nav-btn {
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  width: 70%;
  text-align: center;
  margin: 0 5px; /* Add space between buttons */
}

.nav-btn:hover {
  background-color: #e0e0e0;;
}