/* src/components/DeliveryStatus.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .statusContainer {
    border: 1px solid rgb(155, 104, 104);
    padding: 20px;
    border-radius: 5px;
    color: black;
  }
  
  .cancelButton {
    background-color: #dc3545; /* Red */
    color: rgb(132, 106, 106);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .cancelButton:hover {
    background-color: #c82333;
  }
  
  .error {
    color: #dc3545;
    font-weight: bold;
  }

.assignButton {
    background-color: #007bff; /* Blue */
    color: rgb(111, 82, 82);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    color: black;
  }
  
  .assignButton:hover {
    background-color: #0056b3;
  }
  
  .assignButton:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }