/* Register.css */

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-right: 55px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.register-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
/* Register form-specific styling */
.register-form {
  height: 450px; /* Set fixed height */
  overflow-y: auto; /* Enable scrolling within the form if needed */
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.btn-register {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-register:hover {
  background-color: #0056b3;
}

/* Back to Login button styles */
.back-to-login {
  margin-top: 20px;
  text-align: center;
}

.back-to-login p {
  margin-bottom: 10px;
}

.back-to-login .btn-login {
  padding: 8px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.back-to-login .btn-login:hover {
  background-color: #e9ecef;
}